.button-container {
  padding: 12px 24px;
  background-color: #3276c3;
  border: none;
  color: #fff;
  border-radius: 16px;
  cursor: pointer;
}

@media (max-width: 640px) {
  .button-container {
    width: 100%;
  }
}